# Kunci server (rahasia) - file ini tidak di-commit
FIREBASE_PROJECT_ID=catat-keuangan-web
FIREBASE_SA_EMAIL=firebase-adminsdk-fbsvc@catat-keuangan-web.iam.gserviceaccount.com
FIREBASE_SA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...tempel kunci baru di sini...\n-----END PRIVATE KEY-----\n"
BROADCAST_SECRET=finocatat-cron-2026-8f3ab19c

# Kunci publik Firebase untuk browser
VITE_FIREBASE_API_KEY=AIzaSyDRFdFw1LTjydGLG8cN7PGaLJoIs-i9o0I
VITE_FIREBASE_PROJECT_ID=catat-keuangan-web
VITE_FIREBASE_VAPID_KEY=BFP4sSmBoZvMR4eQa7-gSF1oYTUumqZ_XT0Q_pAQ_RKfBLedsRRVeuZqunXQmdtV_Lz22SQA1Ws8f4ouHVUZNTA
